services:
  lark-bot:
    image: ${DOCKER_IMAGE:-ghcr.io/phybench-official/het-lark-bot:latest}
    container_name: het-lark-bot
    pull_policy: always

    env_file: .env

    volumes:
      - ./configs:/app/configs:rw
      - ./api_keys.json:/app/api_keys.json:ro
      - ./mcp_servers_config.json:/app/mcp_servers_config.json:ro

    restart: unless-stopped

    deploy:
      resources:
        limits:
          cpus: '32.0'
          memory: 32G

    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
